<script>
function getCookie(name) {
	var cookieValue = null;
	if (document.cookie && document.cookie !== '') {
		var cookies = document.cookie.split(';');
		for (var i = 0; i < cookies.length; i++) {
			var cookie = cookies[i].trim();
				if (cookie.substring(0, name.length + 1) === (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
		}
	}
	return cookieValue;
}
</script>

{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title> Weather & Gather </title>
    </head>
    <body>
        <h1> Weather & Gather </h1>
        <box onclick="">Weather & Clothes</box>
        <box onclick="">Gather</box>
        <box onclick="">Mypage</box>
        <hr>


        <h2>현재 날씨{{today}}</h2>
        <h2>내일 출근 날씨{{tomorrow}}</h2>

        <h3>현재 날씨</h3>
    
        <box>

            {% if today.2 == '소나기' %}
                <img src='{% static "shower.svg" %}' style = "width: 200; height: 200">
            {% elif today.2 == '눈' %}
                <img src='{% static "snow.svg" %}'style = "width: 200; height: 200">
            {% elif today.2 == '비/눈' %}
                <img src='{% static "sleet.svg" %}'style = "width: 200; height: 200">
            {% elif today.2 == '비' %}
                <img src='{% static "rain.svg" %}'style = "width: 200; height: 200">
            {% else %}
                {% if today.1 == '맑음' %}
                    <img src='{% static "clear-day.svg" %}'style = "width: 200; height: 200">
                {% elif today.1 == '구름많음' %}
                    <img src='{% static "cloudy.svg" %}'style = "width: 200; height: 200">
                {% else %}
                    <img src='{% static "overcast.svg" %}'style = "width: 200; height: 200">
                {% endif%}
            {% endif %}

        </box>

        <box>기온 {{ today.0 }}℃</box>

        <h3>{% if today.2 != '없음' %}
                {{ today.2 }}
            {% else %}
                {{ today.1 }} 
            {% endif %}
        </h3>
        
        
        <img src='{% static "wind.svg" %}'>
        <h3>바람 {{ today.1 }}</h3>
        
        <h3> 눈/비 소식 {{ today.3 }} </h3>
        
        <img src='{% static "raindrops.svg" %}'>
        <h3> 강수 확률 {{ today.4 }}</h3>
        <h3>습도 {{ today.5 }}</h3>
        {% comment %} <p>{{ today }} </p><hr> {% endcomment %}
        
        
       

        <h2>옷 추천</h2>
        <h3>oo님 오늘은 이렇게 입으시는 건 어때요?</h3>
        
        
        <td> 
            {% if today.6 >= "20220131" and today.6 <= "20220202" %}
                <img src = '{% static "hanbok.png" %}' style = "width: 150; height: auto;">
                <img src = '{% static "hanbok (2).png" %}' style = "width: 150; height: auto;">
                <img src = '{% static "hanbok (3).png" %}' style = "width: 150; height: auto;">
                <img src = '{% static "lucky-bag.png" %}' style = "width: 150; height: auto;">

            {% elif today.6 >= "20220909" and today.6 <= "20220912" %}
                <img src = '{% static "hanbok.png" %}' style = "width: 150; height: auto;">
                <img src = '{% static "hanbok (2).png" %}' style = "width: 150; height: auto;">
                <img src = '{% static "hanbok (3).png" %}' style = "width: 150; height: auto;">
                <img src = '{% static "lucky-bag.png" %}' style = "width: 150; height: auto;">

            {% else %}

                {% if today.0 >= 28 %}
                    <img src='{% static "sleeveless-shirt.png" %}'style = "width: 150; height: auto;">
                    <img src='{% static "skirt (2).png" %}'style = "width: 150; height: auto;">
                    <img src='{% static "sleeveless-shirt (1).png" %}'style = "width: 150; height: auto;">
                    <img src='{% static "sleeveless.png" %}'style = "width: 150; height: auto;">
                    <img src='{% static "denim-shorts.png" %}'style = "width: 150; height: auto;">
            
                {% elif today.0 >= 23 %}
                    <img src='{% static "tshirt (3).png" %}'style = "width: 150; height: auto;">
                    <img src='{% static "pants (2).png" %}'style = "width: 150; height: auto;">
                    <img src='{% static "skirt.png" %}'style = "width: 150; height: auto;">
                    <img src='{% static "jogger-pants.png" %}'style = "width: 150; height: auto;">
            
                {% elif today.0 >= 20 %}
                    <img src='{% static "blouse.png" %}'style = "width: 150; height: auto;">
                    <img src='{% static "tshirt (2).png" %}'style = "width: 150; height: auto;">
                    <img src='{% static "pants.png" %}'style = "width: 150; height: auto;">
                    <img src='{% static "shirt.png" %}'style = "width: 150; height: auto;">
                    <img src='{% static "dress.png" %}'style = "width: 150; height: auto;">
            
                {% elif today.0 >= 17 %}
                    <img src='{% static "hoodie (3).png" %}'style = "width: 150; height: auto;">
                    <img src='{% static "ripped-jeans.png" %}'style = "width: 150; height: auto;">
                    <img src='{% static "hoodie.png" %}'style = "width: 150; height: auto;">
                    <img src='{% static "hoodie (4).png" %}'style = "width: 150; height: auto;">
            
                {% elif today.0 >= 12 %}
                    <img src='{% static "denim-jacket.png" %}'style = "width: 150; height: auto;">
                    <img src='{% static "long-skirt.png" %}'style = "width: 150; height: auto;">
                    <img src='{% static "cardigan.png" %}'style = "width: 150; height: auto;">
                    <img src='{% static "cardigan (2).png" %}'style = "width: 150; height: auto;">
            
                {% elif today.0 >= 9 %}
                    <img src='{% static "turtleneck.png" %}'style = "width: 150; height: auto;">
                    <img src='{% static "trench-coat.png" %}'style = "width: 150; height: auto;">
                    <img src='{% static "jacket.png" %}'style = "width: 150; height: auto;">
                    <img src='{% static "jumper.png" %}'style = "width: 150; height: auto;">
            
                {% elif today.0 >= 5 %}
                    <img src='{% static "fur-jacket.png" %}'style="width: 150; height: auto;">
                    <img src='{% static "fur-coat.png" %}'style="width: 150; height: auto;">
                    <img src='{% static "coat.png" %}'style="width: 150; height: auto;">
                    <img src='{% static "pad.png" %}'style="width: 150; height: auto;">
            
                {% else %}
                    <img src='{% static "scarf.png" %}' style="width: 150; height: auto;">
                    <img src='{% static "beanie.png" %}'style="width: 150; height: auto;">
                    <img src='{% static "mittens.png" %}'style="width: 150; height: auto;">
                    <img src='{% static "puffer-coat.png" %}'style="width: 150; height: auto;">
            
                {% endif %}
            {% endif %}
        </td>
        
    </body>
    <footer>"designed Freepik, justicon, Nhor Phai from Flaticon"
        Copyright © 2022 Bas Milius. All rights reserved.
        </footer>
</html>










