<?xml version="1.0" encoding="UTF-8"?>
<response>
    <header>
        <resultCode>0</resultCode>
        <resultMsg>NORMAL_SERVICE</resultMsg>
    </header>
    <body>
        <dataType>XML</dataType>
        <items>
            <item>
                <baseDate>20210628</baseDate>
                <baseTime>0500</baseTime>
                <category>TMP</category>
                <fcstDate>20210628</fcstDate>
                <fcstTime>0600</fcstTime>
                <fcstValue>21</fcstValue>
                <nx>55</nx>
                <ny>127</ny>
            </item>
        </items>
        <numOfRows>10</numOfRows>
        <pageNo>1</pageNo>
        <totalCount>742</totalCount>
    </body>
</response>
